.navigation {
    border-bottom: 2px solid black;
}


.navigation--dark {
    border-bottom: 2px solid rgb(255, 255, 255);
}

.navigation__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 0px;
}

.navigation__listItem {
    padding: 10px;

    transition: 1s;
}

.navigation__link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    color: currentColor;
    text-align: center;

}

.navigation__listItem:hover {
    transform: scale(1.2);
}

.navigation__link--dark {
    color: white;
}