.section {
    margin: 20px;
    padding: 10px;
}

.section__header {
    border: 10px groove gray;
    border-radius: 10px;
    background-color: #929292;
    margin: 10px;
    padding: 10px;

}

.list__item {
    text-decoration: none;
    color: currentColor;
}

.list__item:hover {
    text-decoration: underline ;
}

.section__picture {
    max-width: 300px;
    display: flex;
    align-self: center;
    margin: 10px auto;
    border-radius: 15px;
}

.js-noImage {
    display: none;
}
