.table__container {
    overflow-x: auto;
}

.table {
    border-collapse: collapse;
    margin: 10px auto;
    width: 400px;
    padding: 20px;


}

.table__caption {
    font-weight: 700;
    font-size: 20px;
}

.table__cell {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;

}

.table__cell--dark {
    color: black;
}



.table__header {
    background-color: green;
    border: 2px solid black;
}

.table__row {
    background-color: #eee;
}



.table__row:nth-child(even) {
    background-color: #ddd;

}

.table__row:hover {
    background-color: #a5a5a5;
}